@using Deje.Core.Status
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Deje - Zaboravljena lozinka</title>
    <link href="@Url.Content("~/Content/Css/bootstrap.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/Css/login.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>
</head>
<body>
    <div class="container" style="width: 320px;">
            @using (@Html.BeginForm("ZaboravljenaLozinka", "Login", FormMethod.Post, new{@class = "form-horizontal"}))
            {
                <fieldset>
                    <legend><img src="@Url.Content("~/Content/Images/logo.png")" alt="Logo"/></legend>
                    <p>Unesite e-mail na koji će Vam stići nova lozinka</p>
                    <div>
                        <input type="email" name="email" id="email" placeholder="E-mail" class="input-xlarge" required />
                    </div>
                    
                    <input type="submit" value="Pošalji" class="btn btn-success"/>
                    @if (TempData["Status"] != null)
                    {
                        var status = ((StatusMessage) TempData["Status"]).Message;
                        <p style="clear: right; padding-top: 15px;" class="text-error">@status</p>    
                    }
                    
                </fieldset>
            }
        </div>
</body>
</html>
